* {
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}
.App{
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-y: auto;
  padding: 0px;
  margin-bottom: 0px;
}
.App::-webkit-scrollbar{
  display: none;
}
